

.container {
    padding: 20px;
    margin-top: 120px;
    background-color: white;
}

h3 {
    background-color: orange;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 36px;
    text-shadow: 1px 1px 1px white;
}