<h3>Accordian or Tab</h3>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <app-accordian>
        <h6>COMPONENT DIRECTIVE</h6>
        <p> Components are the main building blocks for Angular applications. Each component consists of 1] An HTML template that declares what renders on the page. 2] A TypeScript class that defines behavior. 3] A CSS selector that defines how the component is used in a template. 4] Optionally, CSS styles applied to the template. </p>
      </app-accordian>
      <app-accordian>
        <h6>STRUCTURAL DIRECTIVE</h6>
        <p> Structural directives are directives which change the DOM layout by adding and removing DOM elements. Angular provides a set of built-in structural directives (such as NgIf , NgForOf , NgSwitch and others) which are commonly used in all Angular projects. For more information see Built-in directives. </p>
      </app-accordian>
      <app-accordian>
        <h6>ATTRIBUTE DIRECTIVE</h6>
        <p> Change the appearance or behavior of DOM elements and Angular components with attribute directives. </p>
      </app-accordian>
    </div>
  </div>
</div>