

.card-header{
    cursor: pointer;
}

.card-header.d-flex.justify-content-between {
    background-color: orange;
    color: white;
    font-size: 30px;
    // text-shadow: 1px 1px 1px white;

}

h6 {
    font-size: 18px;
    text-shadow: 1px 1px 1px white;

}

